.carrinho-dropdown {
    position: absolute;
    top: 60px;
    right: 1px;
    background-color: rgb(44, 44, 44);
    border: 0px solid #ccc;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .carrinho-dropdown ul {
    list-style: none;
    padding: 0;
  }
  
  .carrinho-dropdown li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #747474;
    margin-bottom: 20px;
    padding-bottom: 5px;
  }
  
  .carrinho-total {
    margin-top: 10px;
    font-weight: bold;
  }
  